#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #6c757d;
    
}
#nav>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    cursor: pointer;
    
}
#nav>div:nth-child(1)>div{
  color: white;
    font-size: 20px;
}
#logo{
    margin-right: 15px;
    
}
#logo>img{
    height: 60px;
}
.dropdown{
border: none;
background-color: #6c757d;


}
#bar{
background-color: #6c757d;
width: 60px;
border: none;
padding: 10px;
}
#bar:hover{
background-color:#455A64 ;
}
/* #barr>img{
background-color: white;
} */
.para{
text-align: center;
}
.offcanvas-body,.offcanvas-header{
background-color: #6c757d;
color: white;
}
#money{
width: 70px;
height: auto;
border: none;
border-radius: 5px;
background-color: #6c757d;
color: white;
padding: 10px;
padding-top: 8px;
padding-bottom: 13px;
}
#money:hover{
background-color:#455A64 ;
}
#banner{
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
}
#banner>img{
width: 100%;
height: 500px;
filter: brightness(60%);
}
.child{
display: flex;
align-items: center;
width: auto;
}
input{
border: none;
}
select{
font-size: 50px;
border: none;
}
.child>div{
border:1px solid #6c757d;

}
.common{
display: flex;
align-items: center;
}
.common>div{
padding: 5px;
}
.imgas>img{
width: 100%;
height: 25px;
}
.search_bar{
padding: 10px;
width: 100%;
margin: auto;
background-color: white;
}
#heading{
color: white;
}
#heading>div>h1{
font-size: 25px;
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}
.banner_search{
/* display: block; */
position: absolute;
margin-top: -350px;
margin-left: 350px;
text-align: center;
box-sizing: border-box;
font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
font-weight: 400;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;

}
#search_btn{
padding: 7px 35px;
color: white;
background-color: rgb(11, 112, 195);
border: none;
padding-top: 8px;
}
#guest-child{
padding: px 0px;
}
#guest{
padding: 1px 0px  ;
}
#search_var{
border: none;
}