#nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #6c757d;
}
#nav>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    cursor: pointer;
    
}
#username{
    display: block;
    margin-left: 50px;
  }
#nav>div:nth-child(1)>div{
  color: white;
    font-size: 20px;
}
#logo{
    margin-right: 15px;
    
}
#logo>img{
    height: 50px;
}
.dropdown{
border: none;
background-color: #6c757d;


}
#bar{
background-color: #6c757d;
width: 60px;
border: none;
padding: 10px;
}
#bar:hover{
background-color:#455A64 ;
}
/* #barr>img{
background-color: white;
} */
.para{
    text-align: center;
    cursor: pointer;
    }
    .para:hover{
        text-decoration: underline;
        color: black;
    }
.offcanvas-body,.offcanvas-header{
background-color: #6c757d;
color: white;
}
#money{
width: 70px;
height: auto;
border: none;
border-radius: 5px;
background-color: #6c757d;
color: white;
padding: 10px;
padding-top: 8px;
padding-bottom: 13px;
}
#money:hover{
background-color:#455A64 ;
}

/* -------------------------------------------------------nav bar css end --------------------------- */
#bodyfull{
    width: 95%;
    
    display: flex;
    text-align: center;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
#show_content{
    width: 70%;
    border: 1px solid gainsboro;
    display: flex;
    padding: 25px;
}
#book{
    width: 30%;
    border: 1px solid gainsboro;
}
#image{
    display: block;
width: 100%;
height: 100;
/* margin: auto; */
}
#name{
font-size: 25px;
}
#location{
    font-size: 35px;
    font-weight: 600

}
#houset{
font-size: 25px;
}
#members{
font-weight: 500;
}
#comforts{
font-size: 25px;
}
#price{
    font-size: 30px;
font-weight: 700;
}
#map{
    display: block;
    width: 60%;
    height: 400px;
    margin: auto;

}
/* ksjafknsalkfnlksanflksanlkfnlksafd */
.child{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    width: 100%;
    max-width: 100%;
    }
    input{
    border: none;
    }
    select{
    font-size: 50px;
    border: none;
    }
    .child>div{
    border:1px solid #6c757d;
    
    }
    #inner_search{
        width: 230px;
    }
    /* .common{
    display: flex;
    align-items: center;
    width: 100%;
    } */
    /* .common>div:nth-child(2){
        width:auto;
    } */
    .common>div{
    padding: 5px;
    }
    .imgas>img{
    width: 50px;
    height: 50px;
    }
    .search_bar{
    padding: 10px;
    width: 100%;
    margin: auto;
    background-color: white;
    }
    #heading{
    color: white;
    grid-column-start: 2;
    grid-column-end: 7;
    }
    #heading>div>h1{
    font-size: 25px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
    }
    .banner_search{
    /* display: block; */
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    margin-top: -350px;
    text-align: center;
    box-sizing: border-box;
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 100%;
    max-width: 100%;
    
    }
    .search_bar{
        grid-column-start: 1;
    grid-column-end: 8;
    }
    
    #search_btn{
        margin-top: 20px;
        padding: 7px;
    color: white;
    background-color: rgb(11, 112, 195);
    border: none;
    padding-top: 6px;
    width: 100%;
    }
    #search_btn:hover{
        background-color: rgb(19, 142, 213);
    }
    /* #guest-child{
    padding: px 0px;
    } */
    #guest{
        margin-top: 20px;
        width: auto;
        /* margin-left: 130px; */
        border: 1px solid gainsboro;

    }
    #search_var{
    border: none;
    padding: 0px;
    }
    #out{
        display: block;
        width: auto;
        margin: auto;
        border: 1px solid gainsboro;
    }
    #in{
        display: block;
        width: auto;
        margin: auto;
        border: 1px solid gainsboro;
    }
/* klasfdlashdlfnlasdhflasdnlfhsal; */
.policy>p{
    text-align: justify;
}

#bot_cont{
    width: 95%;
    margin: auto;
}

.bottom{
    height: auto;
    padding: 60px 150px;
    background-color: black;
}
.content{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.manage{
display: flex;
}
.manage>div>img{
    width: 30px;
    height: 30px;
}
.ifnot{
    display: flex;
    
}
.ifnot>div{
    margin-left: 8px;
}
.ifnot>div>img{
    width: 20px;
    height: 20px;
}
.first-cell{
width: 200px;
}
.first-cell>p{
    font-size: 10px;
    font-weight: 500;
}
.second-cell{
    width: 200px;
}
.notif>img{
    width: 200px;
    height: 50px;
}
.images{
    display: flex;
}
.bttn{
    border: none;
    padding: 10px 20px;
    background-color: aqua;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.notif{
    background-color: white;
}
@media screen and (min-width:701px) and (max-width:1000px) {
    #bodyfull{
        flex-direction: column;
        margin: auto;
    }
    #show_content{
        flex-direction: column;
        width: 100%;
    }
    .search_bar{
        width: 100%;
    }
    #book{
        width: 100%;
       
    }
}
@media screen and (min-width:100px) and (max-width:700px) {
    #bodyfull{
        flex-direction: column;
        margin: auto;
    }
    #show_content{
        flex-direction: column;
        width: 100%;
    }
    #book{
        width: 100%;
    }

}