body>h1{
    
    text-align: center;
}
.cont{
    text-align: center;
    width: 40%;
    height: auto;
    margin: auto;
    /* margin: 50; */
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    font-size: 20px;
}
input{
    padding: 5px 10px;
}
#imags{
    height: auto;
    width: auto;
}
#imgs>img{
    display: block;
    height: 200px;
    width: 50%;
    margin: auto;
}
#button{
    padding: 10px 20px;
    background-color: rgb(14, 89, 149);
    color: white;
    border: none;
}